@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif
}

body {
    background: whitesmoke;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 16px;
}


a {
    text-decoration: none;

}

li {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
}

section {
    margin-top: 50px;
    padding: 50px 0;
    /* background-color: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)); */
}

.title {
    display: flex;
    justify-content: center;
    color: #362C28;
}

/* navbar css :start */


.navbar {
    display: flex;
    justify-content: center;
}

.nav {
    position: fixed;
    z-index: 11;
    width: 78%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    padding: 20px 30px;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 40px;
    font-weight: 500;
    align-items: center;
}

.logo {
    font-size: 20px;
    padding: 0;
    font-weight: 900;
}

.logo a {
    color: rgb(207, 66, 66);
}

.logo span {
    color: whitesmoke;
}

.logo::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: red;
    border-radius: 20px;
}

.nav_items {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.nav_items ul {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.nav_items ul li a {
    color: whitesmoke;
}

.nav_items ul li::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: red;
    border-radius: 20px;
}

.nav_items ul li:hover::after {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.nav_items ul li a:hover {
    color: rgb(207, 66, 66);
    transition: all 0.5s ease-in-out;
}

.nav_btn {
    background-color: rgb(207, 66, 66);
    padding: 5px 10px;
    border-radius: 20px;
}

.nav_btn a {
    color: whitesmoke;
}

.nav_btn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.nav_btn:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(207, 66, 66);
    border-radius: 10rem;
    z-index: -2;
}

.nav_btn:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(137, 25, 25);
    transition: all 0.8s;
    border-radius: 10rem;
    z-index: -1;
}

.nav_btn:hover {
    border-radius: 20px 50px;
}

.nav_btn:hover:before {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px 50px;
}

.menu_toggle {
    display: none;
}

.header-content {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    animation: animate 16s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        background-image: linear-gradient(rgba(58, 25, 25, 0.5), rgba(119, 24, 24, 0.5)), url("../images/bg11.jpg");
    }

    35% {
        background-image: linear-gradient(rgba(58, 25, 25, 0.5), rgba(119, 24, 24, 0.5)), url("../images/bg12.jpg");
    }

    65% {
        background-image: linear-gradient(rgba(58, 25, 25, 0.5), rgba(119, 24, 24, 0.5)), url("../images/canva4.jpg");
    }
}

.header-contents {
    position: absolute;
    top: 70%;
    left: 20%;
    right: 20%;
    align-items: center;
    color: wheat;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    padding: 20px 30px;
    border-radius: 20px;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-title span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}



/* #owl-demo .item img {
    display: block;
    width: 100%;
    height: 100vh;
} */



/* Show the nav items when menu is toggled */
.nav_items.show {
    display: flex;
    align-items: center;
}

/* social icons css */

.social_icons {
    position: absolute;
    bottom: 10%;
    /* left: 70%; */
    right: 5%;
    display: grid;
    grid-template-rows: 1fr;
    font-size: 25px;
}

.social_icon_btn {
    color: whitesmoke;
    background-color: #b79388;
    margin-top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_icon_btn:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
}

.facebook:hover {
    color: blueviolet;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out;

}

.insta:hover {
    color: #833ab4;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out;

}

.twitter:hover {
    color: blueviolet;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out;
}

.whatsapp:hover {
    color: #0A420A;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out;
}

/* social icons css ends */

/* image gallerycss */

.gallery_content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 30px;
    column-gap: 30px;
}

.image_gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    cursor: pointer;
    overflow: hidden;
}

.image_text {
    text-align: center;
}

.image_text p {
    margin: 20px 0;
}

.image_text .img_btn {
    color: rgb(207, 66, 66);
    border: none;
    background-color: #362c28;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
}

.image_text .img_btn:hover {
    color: whitesmoke;
}

.image_text .img_btn::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: red;
    border-radius: 20px;
    opacity: 0;
    top: 14px;
    right: -20px;
}

.image_text .img_btn:hover::after {
    width: 100%;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    right: 10px;
}

.image_text .img_btn:active {
    color: rgb(207, 66, 66);
    background-color: whitesmoke;
}


.image_gallery .image {
    /* height: 150px; */
    overflow: hidden;
}

.image_gallery .image img {
    /* height: 150; */
    width: 100%;
    break-inside: avoid;
    object-fit: cover;
    transition: .5s ease-in-out;
}

.image_gallery .image:hover img {
    transform: scale(1.05);
}

.gallery .popup_image {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    z-index: 11;
    display: none;
}

.gallery .popup_image span {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 40px;
    font-weight: bolder;
    color: whitesmoke;
    cursor: pointer;
}

.gallery .popup_image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    /* height: 500px; */
    object-fit: cover;
    border: whitesmoke double 15px;
}

/* imaage gallery css ends */

/* PRODUCT CSS STATS */

.products_section {
    background-image: linear-gradient(rgba(58, 25, 25, 0.5), rgba(119, 24, 24, 0.5)), url("../images/back11.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.products_section .title {
    color: whitesmoke;
}

.product_cards {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
    overflow: hidden;
    justify-content: space-between;
    align-content: center;
    margin-top: 30px;
}

.product_card {
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;

}

.pro_img {
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    width: 100%;
    border-radius: 20px;
}

.product_text {
    text-align: center;
}

.product_text p {
    margin: 10px;
}

.product_text span {
    font-weight: 800;
}

.product_btns {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

.product_btn {
    color: rgb(207, 66, 66);
    border: none;
    background-color: #362c28;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
}

.product_btn:hover {
    color: whitesmoke;
}

.product_btn:active {
    color: rgb(207, 66, 66);
    background-color: whitesmoke;
}

/* PRODUCT CSS ENDS */

/* mansonary css :start */


/* mansonary css :end */

/* blogs css :start */

.blogs_section {
    background-image: linear-gradient(rgba(58, 25, 25, 0.5), rgba(119, 24, 24, 0.5)), url("../images/back12.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.blogs_section .title {
    color: whitesmoke;
}

.blogs {
    margin: 20px 0;
}

.blog_card {
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0px inset;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    padding: 5px;
    color: whitesmoke;
}

.blog_img img {
    /* height: 150px; */
    width: 100%;
    margin: 5px 0;
}

.blog_content {
    text-align: center;
    margin: 10px;
}

.post_meta {
    text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
    color: rgb(227, 41, 41);
}

.owl-nav button {
    position: absolute;
    /* top: 50%; */
    transform: translateY(-50%);
    /* background: rgba(255, 255, 255, 0.38) !important; */
    color: #2c1717;
    margin: 0;
    transition: all 0.3s ease-in-out;
    outline: none;
    border: solid 2px black !important;
    height: 40px;
    width: 40px;
    border-radius: 50% !important;
}

.owl-nav button.owl-prev {
    right: 50px;
}

.owl-nav button.owl-next {
    right: 0;
}

.owl-dots {
    text-align: left;
    position: absolute;
}


.owl-dots button.owl-dot.active span {
    background-color: #000 !important;
}


.owl-nav button span {
    font-size: 50px;
    position: relative;
    top: -22px;
}

/* blogs css :end */

/* grid layout section css :start */

.grid_layout {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
    row-gap: 20px;
}

.grid_layout_content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 15px;
    row-gap: 15px;
}

.grid_content {
    /* height: 150px; */
    overflow: hidden;
}

.grid_content img {
    /* height: 150; */
    width: 100%;
    break-inside: avoid;
    object-fit: cover;
    transition: .5s ease-in-out;
}

.grid_content:nth-child(odd) {
    text-align: center;
    padding: 10px;
    background-color: #b59689;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
    font-weight: 800;
    text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.grid_content:nth-child(odd):hover {
    color: rgb(152, 47, 47);
    border: black 2px double;
}

.grid_content:nth-child(even) {
    padding: 10px;
    filter: grayscale(100%);
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.grid_content:nth-child(even):hover {
    filter: grayscale(0);
    transform: rotate(5deg);
}


/* grid layout section css :end */

/* footer css :start */
footer {
    background-color: #b79388;
}

.footers {
    padding: 50px;
    color: #362c28;
    font-size: 16px;
    font-weight: 500;
}

.footer_items {
    display: flex;
    justify-content: center;
}

.footer_items ul {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.footer_items ul li a {
    color: #362c28;
}

.footer_items ul li::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: red;
    border-radius: 20px;

}

.footer_items ul li:hover::after {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.footer_icons {
    display: flex;
    justify-content: center;
}

.footer_icons ul {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.copyrights {
    background-color: #362c28;
    text-align: center;
    padding: 10px;
    color: whitesmoke;
}

.copyrights a {
    color: whitesmoke;
}

.copyrights_tag:hover {
    color: #b79388;
}

/* footer css :end */


/* .grid_gallary_section,
.product,
.gallery_content,
.blog_section,
.masonry {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
} */

/* Responsive styles */
@media (max-width: 1024px) {

    .nav {
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        border-radius: 0;
        margin-top: 0;
        background-color: rgba(0, 0, 0, 0.8);
        /* padding: 0 10px; */
    }

    .logo {
        margin-left: 10px;
    }

    .nav_items {
        top: 70px;
        position: absolute;
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
    }

    .nav_items ul {
        flex-direction: column;
        width: 100%;
    }

    .nav_items ul li {
        /* width: 100%; */
        text-align: center;
        padding: 10px 0;
    }

    .nav_items ul li::after {
        display: none;
    }

    .nav_items ul li:hover::after {
        display: none;
    }

    .nav_items ul li a:hover {
        color: #E3735E;
        transition: all 0.3s ease-in-out
    }

    .nav_btn {
        display: none;
    }

    .menu_toggle {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: whitesmoke;
        margin-right: 20px;
    }

    .gallery_content {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .grid_layout {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }


    section {
        margin-top: 30px;
        padding: 30px 0;
    }

    .header-contents {
        position: absolute;
        top: 70%;
        left: 10%;
        right: 10%;
        /* padding: 10px 20px; */
        padding: 5px;
    }

    .header-title span {
        font-size: 0.85rem;
    }


    .product_btn {
        font-size: 12px;
    }


    .gallery .popup_image img {
        width: 85%;
    }
}




@media (max-width: 792px) {

    .footers {
        padding: 20px;
    }

    .copyrights {
        font-size: 10px;
    }

}



/* responsive desgine :end */