@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif
}

body {
    background: whitesmoke;
}


a {
    text-decoration: none;

}

li {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;

}

section {
    margin-top: 50px;
    padding: 50px 0;
    /* background-color: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)); */
}

/* navbar css :start */


.navbar {
    display: flex;
    justify-content: center;
}


.nav {
    position: fixed;
    z-index: 1;
    width: 78%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    padding: 20px 30px;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 40px;
    font-weight: 500;
    align-items: center;
}

.logo {
    font-size: 20px;
    padding: 0;
    font-weight: 900;
}

.logo a {
    color: rgb(207, 66, 66);
}

.logo span {
    color: whitesmoke;
}

.logo::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: red;
    border-radius: 20px;
}

.nav_items {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.nav_items ul {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.nav_items ul li a {
    color: whitesmoke;
}

.nav_items ul li::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: red;
    border-radius: 20px;
}

.nav_items ul li:hover::after {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.nav_items ul li a:hover {
    color: rgb(207, 66, 66);
    transition: all 0.5s ease-in-out;
}

.nav_btn {
    background-color: rgb(207, 66, 66);
    padding: 5px 10px;
    border-radius: 20px;
}

.nav_btn a {
    color: whitesmoke;
}

.nav_btn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.nav_btn:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(207, 66, 66);
    border-radius: 10rem;
    z-index: -2;
}

.nav_btn:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(137, 25, 25);
    transition: all 0.8s;
    border-radius: 10rem;
    z-index: -1;
}

.nav_btn:hover {
    border-radius: 20px 50px;
}

.nav_btn:hover:before {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px 50px;
}

.menu_toggle {
    display: none;
}

.header-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg11.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* #owl-demo .item img {
    display: block;
    width: 100%;
    height: 100vh;
} */



/* Show the nav items when menu is toggled */
.nav_items.show {
    display: flex;
    align-items: center;
}

/* social icons css */

.social_icons {
    position: absolute;
    bottom: 10%;
    /* left: 70%; */
    right: 5%;
    display: grid;
    grid-template-rows: 1fr;
    font-size: 25px;
}

.social_icon_btn {
    color: whitesmoke;
    background-color: #b79388;
    margin-top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_icon_btn:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
}

.facebook:hover {
    color: blueviolet;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out;

}

.insta:hover {
    color: #833ab4;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out;

}

.twitter:hover {
    color: blueviolet;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out;
}

.whatsapp:hover {
    color: #0A420A;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out;
}

social icons css ends

/* footer css :start */
footer {
    background-color: #b79388;
}

.footers {
    padding: 50px;
    color: #362c28;
    font-size: 16px;
    font-weight: 500;
}

.footer_items {
    display: flex;
    justify-content: center;
}

.footer_items ul {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.footer_items ul li a {
    color: #362c28;
}

.footer_items ul li::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: red;
    border-radius: 20px;

}

.footer_items ul li:hover::after {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.footer_icons {
    display: flex;
    justify-content: center;
}

.footer_icons ul {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.copyrights {
    background-color: #362c28;
    text-align: center;
    padding: 10px;
    color: whitesmoke;
}

.copyrights a {
    color: whitesmoke;
}

.copyrights_tag:hover {
    color: #b79388;
}

/* footer css :end */

/* Responsive styles */
@media (max-width: 768px) {

    section {
        margin-top: 30px;
        padding: 30px 0;
    }

    .nav {
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        border-radius: 0;
        margin-top: 0;
        background-color: rgba(0, 0, 0, 0.8);
        /* padding: 0 10px; */
    }

    .logo {
        margin-left: 10px;
    }

    .nav_items {
        top: 70px;
        position: absolute;
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
    }

    .nav_items ul {
        flex-direction: column;
        width: 100%;
    }

    .nav_items ul li {
        /* width: 100%; */
        text-align: center;
        padding: 10px 0;
    }

    .nav_items ul li::after {
        display: none;
    }

    .nav_items ul li:hover::after {
        display: none;
    }

    .nav_items ul li a:hover {
        color: #E3735E;
        transition: all 0.3s ease-in-out
    }

    .nav_btn {
        display: none;
    }

    .menu_toggle {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: whitesmoke;
        margin-right: 20px;
    }
}




@media (max-width: 792px) {

    .footers {
        padding: 20px;
    }

    .copyrights {
        font-size: 10px;
    }

}



/* responsive desgine :end */